.main {
  margin-inline: 2rem;
  margin-block: 2rem;
}

.navBar {
  display: flex;
  flex-direction: row;
}

.pageTitle {
  color: rgba(62, 97, 172, 0.6);
}

.cardContainer {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mainCard {
  background: #3e61ac;
  padding-inline: 0.5rem;
  padding-block: 1rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 7.5rem;
  justify-content: space-between;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}

.mainCardFirstLine {
  width: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainCardtitle {
  margin-left: 1.5rem;
}

.mainCardIconContainer {
  background-color: #ffffff;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainCardLastLine {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-inline: 1rem;
}

.mainCardValue {
  text-align: right;
  font-size: 1.5rem;
}

.card {
  background: #ffffff;
  padding-inline: 0.5rem;
  padding-block: 1rem;
  color: #3e61ac;
  display: flex;
  flex-direction: column;
  height: 7.5rem;
  justify-content: space-between;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}

.cardFirstLine {
  width: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardtitle {
  margin-left: 1.5rem;
  color: #3e61ac;
}

.iconContainer {
  background-color: #f2e97f;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardLastLine {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-inline: 1rem;
}

.cardValue {
  text-align: right;
  font-size: 1.5rem;
  color: #3e61ac;
}

.tableContainer {
  margin-top: 2.5rem;
}

.tableTitle {
  color: rgba(0, 0, 0, 0.7);
}

.tableDataNotFoundActive {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tableDataNotFound {
  display: none;
}

.tableDataNotFoundActive h3 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
  margin-top: 1rem;
}

.tableDataNotFoundActive h3 span {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.tableActive {
  margin-top: 1rem;
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: #3e61ac;
  border-radius: 1rem;
}

.table {
  display: none;
}

.tableHead {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tableHeadLeftSection {
  display: flex;
}

.tableHeadRightSection {
  display: flex;
}

.headDateTitle {
  width: 10rem;
}

.headCustomerTitle {
  width: 28rem;
}

.tableHeadRightSection {
  display: flex;
}

.headItemTitle {
  width: 15rem;
}

.headTitle {
  width: 8rem;
}

.tableRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.dataLeftSection {
  display: flex;
  align-items: center;
}

.dataRightSection {
  display: flex;
  align-items: center;
}

.tableDataCell {
  width: 10rem;
  overflow-x: hidden;
}

.tableCustomerCell {
  width: 28rem;
}

.tableItemCell {
  width: 15rem;
  overflow-x: hidden;
}

.tableCell {
  width: 8rem;
  overflow-x: hidden;
}
