.cardContainer {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .mainCard {
    background: #3e61ac;
    padding-inline: 0.5rem;
    padding-block: 1rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 7.5rem;
    justify-content: space-between;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
  }
  
  .mainCardFirstLine {
    width: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .mainCardtitle {
    margin-left: 1.5rem;
  }
  
  .mainCardIconContainer {
    background-color: #ffffff;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mainCardLastLine {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-inline: 1rem;
  }
  
  .mainCardValue {
    text-align: right;
    font-size: 1.5rem;
  }
  
  .card {
    background: #ffffff;
    padding-inline: 0.5rem;
    padding-block: 1rem;
    color: #3e61ac;
    display: flex;
    flex-direction: column;
    height: 7.5rem;
    justify-content: space-between;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
  }
  
  .cardFirstLine {
    width: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .cardtitle {
    margin-left: 1.5rem;
    color: #3e61ac;
  }
  
  .iconContainer {
    background-color: #f2e97f;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cardLastLine {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-inline: 1rem;
  }
  
  .cardValue {
    text-align: right;
    font-size: 1.5rem;
    color: #3e61ac;
  }

  .tableContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
  }

  .spinner {
    animation: rotate 2s linear infinite;
  }
  
  .rotating {
    display: inline-block;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }