.main {
  background-image: url("../../../public/image/Desktop\ -\ 4.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  width: 100%;
  height: 100vh;
  display: flex;
}

.leftSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.leftContainer {
  margin-inline: 10rem;
  margin-bottom: 5rem;
  width: fit-content;
}

.emailField {
  border-style: solid;
  border-width: 1px;
  border-color: #3e61ac;
  border-radius: 0.3rem;
  margin-top: 5.5rem;
}

.emailInput {
  color: rgb(31, 31, 31);
  outline: none;
  border-style: none;
  background: transparent;
  padding: 0.6rem;
  width: 20rem;
}

.passwordField {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: #3e61ac;
  border-radius: 0.3rem;
  align-items: center;
  margin-top: 2rem;
}

.passwordInput {
  color: rgb(31, 31, 31);
  outline: none;
  border-style: none;
  background: transparent;
  padding: 0.6rem;
  width: 18rem;
}

.eyeIcon {
  padding-inline: 0.4rem;
  cursor: pointer;
}

.signUpredirect {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.signUpLink {
  color: #f9977b;
  font-size: 0.9rem;
}

.loginButtonActive {
  border-style: none;
  background-color: #3e61ac;
  padding-inline: 0.5rem;
  padding-block: 0.75rem;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 2rem;
  width: 20rem;
}

.loginButton {
  display: none;
}

.rightSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
}

.rightContainer {
  margin-inline: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.rightContainer p {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
}

@media (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }

  .rightContainer p {
    display: none;
  }

  .leftSection {
    padding-top: 2rem;
  }

  .rightSection {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
}

@media (max-height: 480px) {
  .main {
    height: max-content;
  }
  .leftSection {
    height: 100%;
  }
}
