.pageContainer {
  --sidebar-width: 15rem;
  background: #fff;
  color: #000;
  width: 100%;
  height: 100vh;
  max-height: max-content;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.sideBar {
  width: var(--sidebar-width);
  max-width: 17rem;
  padding-inline: 2rem;
  padding-top: 2rem;
  display: flex;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(62, 97, 172, 0.2);
  justify-content: space-between;
}

.upperDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userNames {
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: #8a8a8a;
  margin-bottom: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logoutTabContainer {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
}

.tabContainer {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-block: 1rem;
}

.tabContainerActive {
  color: #3e61ac;
}

.tabLabel {
  font-size: 1.1rem;
  padding-left: 1rem;
}

.children {
  width: 100%;
  margin-left: var(--sidebar-width);
}
