.main {
    background-image: url('../../../public/image/Desktop\ -\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    color: black;
}

.leftSection {
    background: transparent;
    width: 50%;
    margin-left: 6rem;
    margin-right: 6rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.text {
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 1.5rem;
    color: white;
}

.rightSection {
    background: #ffffff;
    width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fieldsContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 2.5rem;
}

.fieldContainer {
    border-style: solid;
    border-width: 1px;
    border-color: #3E61AC;
    border-radius: 5px;
    margin-bottom: 1.8rem;
}

.input {
    margin: .5rem;
    outline: none;
    border-style: none;
    background: transparent;
    width: 20rem;
    font-size: 1.1rem;
    color: #3E61AC;
}

.categoryTitle {
    margin-bottom: .2rem;
    font-weight: 400;
}

.categoryTitle a {
    color: #F9977B;
    text-decoration: none;
    cursor: pointer;
}

.category {
    margin-block: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.categoryContainer {
    padding-block: .85rem;
    padding-inline: 1.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: #3E61AC;
    border-radius: 5px;
    color: #3E61AC;
    cursor: pointer;
}

.categoryContainerActive {
    padding-block: .85rem;
    padding-inline: 1.5rem;
    background-color: #F2E97F;
    border-style: solid;
    border-color:#F2E97F;
    border-width: 1px;
    border-radius: 5px;
    color: #3E61AC;
    cursor: pointer;
}

.signUpButton {
    border-style: none;
    background-color: #3E61AC;
    padding-inline: .5rem;
    padding-block: .75rem;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 1.5rem;
}